version: '3.5'
services:
#Services
 vpnser:
  build:
    context: build
    args:
     ENVPATH: vpnser.env
  hostname: vpnser
  privileged: true
  sysctls:
    net.ipv4.ip_forward: 1
  networks:
   lanser:
    ipv4_address: 192.168.201.100
  volumes:
   - iptvpnser:/etc/iptables
 gwser:
  build:
    context: build
    args:
     ENVPATH: gwser.env
  hostname: gwser
  privileged: true
  sysctls:
    net.ipv4.ip_forward: 1
  networks:
   internet:
    ipv4_address: 192.168.204.10
   lanser:
    ipv4_address: 192.168.201.10
   vpnwan:
    ipv4_address: 192.168.203.10
  volumes:
   - iptgwser:/etc/iptables
 server:
  build:
    context: build
    args:
     ENVPATH: server.env
  hostname: server
  privileged: true
  networks:
   lanser:
    ipv4_address: 192.168.201.50
 vpncli:
  build:
    context: build
    args:
     ENVPATH: vpncli.env
  hostname: vpncli
  privileged: true
  sysctls:
    net.ipv4.ip_forward: 1
  networks:
   lancli:
    ipv4_address: 192.168.202.100
  volumes:
   - iptvpncli:/etc/iptables
 gwcli:
  build:
    context: build
    args:
     ENVPATH: gwcli.env
  hostname: gwcli
  privileged: true
  sysctls:
    net.ipv4.ip_forward: 1
  networks:
   internet:
    ipv4_address: 192.168.204.20
   lancli:
    ipv4_address: 192.168.202.20
   vpnwan:
    ipv4_address: 192.168.203.20
  volumes:
   - iptgwcli:/etc/iptables
 work:
  build:
    context: build
    args:
     ENVPATH: work.env
  hostname: work
  privileged: true
  networks:
   lancli:
    ipv4_address: 192.168.202.50
networks:
  lanser:
    driver: bridge
    driver_opts:
     com.docker.network.bridge.name: hard_lanser
    ipam:
     config:
       - subnet: 192.168.201.0/24
  lancli:
    driver: bridge
    driver_opts:
     com.docker.network.bridge.name: hard_lancli
    ipam:
     config:
       - subnet: 192.168.202.0/24
  vpnwan:
    driver: bridge
    driver_opts:
     com.docker.network.bridge.name: hard_vpnwan
    ipam:
     config:
       - subnet: 192.168.203.0/24
  internet:
    driver: bridge
    driver_opts:
     com.docker.network.bridge.name: hard_internet
    ipam:
     config:
       - subnet: 192.168.204.0/24
volumes:
 iptvpnser:
 iptvpncli:
 iptgwser:
 iptgwcli:
