version: '3.5'
services:
#Services
 backupcli:
  build:
    context: build
    args:
     ENVPATH: backupcli.env
  hostname: backupcli
  cap_add:
  - ALL
  networks:
   lan:
    ipv4_address: 192.168.60.10
 backupcliext:
  build:
    context: build
    args:
     ENVPATH: backupcliext.env
  hostname: backupcliext
  cap_add:
  - ALL
  networks:
   wan:
    ipv4_address: 192.168.61.10
 urbackup:
  build:
    context: build
    args:
     ENVPATH: urbackup.env
  hostname: urbackup
  cap_add:
  - ALL
  networks:
   lan:
    ipv4_address: 192.168.60.100
 gw:
  build:
    context: build
    args:
     ENVPATH: gw.env
  hostname: gw
  sysctls:
    net.ipv4.ip_forward: 1
  cap_add:
  - ALL 
  networks:
   lan:
    ipv4_address: 192.168.60.200
   wan:
    ipv4_address: 192.168.61.200  
networks:
  lan:
    driver: bridge
    driver_opts:
     com.docker.network.bridge.name: backup_lan
    ipam:
     config:
       - subnet: 192.168.60.0/24
  wan:
    driver: bridge
    driver_opts:
     com.docker.network.bridge.name: backup_wan
    ipam:
     config:
       - subnet: 192.168.61.0/24

